@model IEnumerable<Florist_Client.Models.Evalute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>List Evalute</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Evalute_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evalute_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Evalute_id  })
        </td>
    </tr>
}

</table>
